<!------ Include the above in your HEAD tag ---------->

<form class="form-horizontal">
    <fieldset>

        // Form Name
        <legend>Register Yourself</legend>

        // Text input
        <div class="form-group">
            <label class="col-md-4 control-label" for="fname">First Name</label>
            <div class="col-md-4">
                <input id="fname" [(ngModel)]="formData.fname" name="fname" type="text" placeholder="John" class="form-control input-md" required="">

            </div>
        </div>

        // Text input
        <div class="form-group">
            <label class="col-md-4 control-label" for="lname">Last Name</label>
            <div class="col-md-4">
                <input id="lname" [(ngModel)]="formData.lname" name="lname" type="text" placeholder="Doe" class="form-control input-md" required=" ">

            </div>
        </div>

        //Text input
        <div class="form-group ">
            <label class="col-md-4 control-label " for="email ">Email</label>
            <div class="col-md-4 ">
                <input id="email " [(ngModel)]="formData.email" name="email " type="text " placeholder="johndoe@example.com " class="form-control input-md " required=" ">

            </div>
        </div>

        //Password input
        <div class="form-group ">
            <label class="col-md-4 control-label " for="password ">Password</label>
            <div class="col-md-4 ">
                <input id="password " [(ngModel)]="formData.password " name="password " type="password " placeholder=" " class="form-control input-md " required=" ">

            </div>
        </div>

        // Button (Double)
        <div class="form-group ">
            <label class="col-md-4 control-label " for="save "></label>
            <div class="col-md-8 ">
                <button id="save " name="save " class="btn btn-success " (click)="UserRegistration(formData) ">Register</button>
                <button id="clear " name="clear " class="btn btn-danger ">Reset</button>
            </div>
        </div>

    </fieldset>

</form>
<h2>{{"hello"+parentData}}</h2>