<h3>
    ABOUT US</h3>
<p>

    Vision: Rich Millet wants to be the Customer’s first choice for value-added natural food products. We endeavor to reach this distinction through exceptional quality practices, operational excellence, superior financial performance and outstanding customer
    satisfaction. Motto: Right Choice. Good Health. Rich Millet can lead to building healthy societies. While this might seem a lofty ambition, it has to be seen in the light of the fact that such change can only be brought from the grass-roots level,
    one family unit at a time. If we take care of the nutritional needs of individual members of a family, we create healthy families, which, in turn, convert into larger communities. We desire to reintroduce MILLETS in diet chart which helps to control
    the lifestyle diseases and provide the best quality natural healthy products to customers at affordable prices and directed by strong business principles. Infrastructure: A single, central raw material storage and processing facility, equipped with
    required machinery and staffed by a competent work force, provides the backbone for our operations. Though not officially certified, we have organized our plant and operations to adhere to the well-known guidelines of Good Manufacturing Practices
    (GMP). Cleanliness and sanitary requirements for personnel, building and facilities, equipment and utensils, in addition to food processing requirements and controls are all aligned with GMP standards. We strongly believe that our use of GMP best
    practices has helped not only in eliminating existing forms of contamination in food material, but also reduced new forms of biological, chemical and physical contamination.


</p>
<br/>

<p>The millets are born {{ birthday | date | uppercase }}</p>
<button (click)="toggledate()">clickhere</button>